
	h1
		{
			font-size:x-large;
			font-size:200%;
		}
	div
		{
			margin-left:30px;
		}
	
	table, th
		{
			border: 1px solid black;
		}
	

/*
balise {propriété de style : valeur; propriété de style: valeur}
*/